{% extends "layouts/default.twig" %}

{% block title %}Aggiungi Utente{% endblock %}

{% block content %}
    <h1>Aggiungi un Utente</h1>
    <p class="important">
        Utente
    </p>
{% endblock %}